demo
<hr>


<button type="button" class="btn btn-primary" {{ action "add"}}>Add</button>

<select class="c-select">
{{#each products.products as |p|}}
    <option>{{p.name}}</option>
{{/each}}
</select>
<hr>


<div class="container">
<div class="row">


<div class="col-md-6" id="container11" style="width:500px;height:500px;border-style:solid;position:relative">
{{#each list as |i|}}
{{ hack-draggable x=i.x y=i.y}}
{{/each}}
</div>

<div style="width:400px;height:400px;background-color:grey;float:left">
report
<hr>
{{#link-to "bom"}}
report
{{/link-to}}
<br>

{{link-to "steps" "steps"}}
</div>
</div>
</div>



{{outlet}}
