
<div class="jumbotron">
  <h1 class="display-3 ">ACME Foldable</h1>
  <p class="lead">We minimize space gear</p>
  <hr class="m-y-2">
  <p>We offer a ton of approved space gear that reduce weight and space making it easy to ship anywhere in the solar system.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#/app" role="button" >See the Demo</a>
    <a class="btn btn-primary btn-lg" href="#/how" role="button">Learn more</a>
  </p>

</div>



<!-- Custom css that makes this example work like it does: -->
<style type="text/css" scoped>
.scrollspy-example {
    position: relative;
    height:200px; 
    margin-top: .5rem;
    overflow: auto;
}
</style>

<!-- Actual scrollspy markup: -->
<nav id="navbar-example2" class="navbar navbar-default">
  <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link" data-target="#v1" {{action "yell" "v1" }}>Who</a></li>
    <li class="nav-item"><a class="nav-link" data-target="#v2" {{action "yell" "v2" }}  >What</a></li>
    <li class="nav-item"><a class="nav-link" data-target="#v3" {{action "yell" "v3" }} >Where</a></li>
    <li class="nav-item"><a class="nav-link" data-target="#v4" {{action "yell" "v4" }}  >When</a></li>
    <li class="nav-item"><a class="nav-link" data-target="#v5" {{action "yell" "v5" }}  >Why</a></li>
    <li class="nav-item"><a class="nav-link" data-target="#v6" {{action "yell" "v6" }}  >How</a></li>



  </ul>
</nav>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="scrollspy-example">
  <h4 id="v1" >Who?</h4>
{{who}}
  <h4 id="v2">What?</h4>
{{what}}
    <h4 id="v3" >Where?</h4>
{{where}}  
<h4 id="v4" >When?</h4>
{{when}}
  <h4 id="v5" >Why?</h4>
{{why}}
  <h4 id="v6" >How?</h4>
{{how}}

</div>





{{outlet}}
